mixin btn(tag, text, link, addClass, madalName)
	if tag == 'a'		
		if addClass
			a(href=" "+ link ).button.button-light #{text}
		else
			a(href=" "+ link ).button #{text}
	else
		if addClass
			#{tag}.button.button-light(data-toggle="modal" data-target=" "+ madalName) #{text}
		else
			#{tag}.button(data-toggle="modal" data-target=" "+ madalName) #{text}

//- header top
mixin headerTop
	.header-top
		.container
			.header-top__content
				a(href="index.html").logo
					img(src="img/logo.png", alt="logo")
					.logo-text
						p Андреев & Панфилов
						p Услуги опытных юристов
				nav.nav-menu
					a(href="#").nav-menu__item Услуги адвоката
					a(href="#").nav-menu__item Схема работы
					a(href="#").nav-menu__item Результаты дел
					a(href="#").nav-menu__item Наша команда 
					a(href="#").nav-menu__item Цены
					a(href="#").nav-menu__item Контакты
					+btn('button', 'Запрос адвокату', '', 'light', '#application')
					+socialIcons
				.header-button
					+btn('button', 'Запрос адвокату', '', 'light', '#application')
				.menu-toggle
					span
//- icon-social
mixin socialIcons
	.icon-block
		a(href="#!")
			i.fab.fa-telegram-plane
		a(href="#!")
			i.fab.fa-facebook-f
		a(href="#!")
			i.fab.fa-whatsapp
		a(href="#!")
			i.fab.fa-instagram
		a(href="#!")
			i.fab.fa-vk

mixin schemeCard(num, title, text)
	.scheme-card
		p.scheme-card-num #{num}.
		p.scheme-card-title #{title}
		p.scheme-card-text !{text}

mixin newCard(data, hasTag, title)
	.col-md-6.col-lg-4
		a(href="#!").news-card
			.news-card-head
				span #{data}
				span ##{hasTag}
			h4 #{title}
			p.news-link Читать
//- SVG ICONS
mixin arrow
	<svg width="14" height="17" viewBox="0 0 14 17" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M12.3687 9.36875L7.625 14.1062V0.25H6.375V14.1062L1.63125 9.36875L0.75 10.25L7 16.5L13.25 10.25L12.3687 9.36875Z" fill="#2E2E2E"/>
		</svg>
mixin linkIcon
	span
		<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M14.62 3.87999C14.0571 3.31512 13.2925 2.99762 12.495 2.99762C11.6975 2.99762 10.9329 3.31512 10.37 3.87999L11.08 4.58999C11.8629 3.80712 13.1321 3.80712 13.915 4.58999C14.6979 5.37285 14.6979 6.64212 13.915 7.42499L9.915 11.425C9.40858 11.9314 8.67045 12.1292 7.97866 11.9438C7.28687 11.7585 6.74653 11.2181 6.56116 10.5263C6.3758 9.83454 6.57358 9.09641 7.08 8.58999L7.79 7.87999L7.08 7.16999L6.37 7.87999C5.1964 9.05359 5.1964 10.9564 6.37 12.13C7.54361 13.3036 9.4464 13.3036 10.62 12.13L14.62 8.12999C15.1849 7.56708 15.5024 6.80244 15.5024 6.00499C15.5024 5.20753 15.1849 4.44289 14.62 3.87999ZM2.09 12.91C1.71292 12.5347 1.50092 12.0245 1.50092 11.4925C1.50092 10.9605 1.71292 10.4503 2.09 10.075L6.09 6.075C6.59643 5.56858 7.33456 5.3708 8.02634 5.55616C8.71813 5.74153 9.25848 6.28187 9.44384 6.97366C9.62921 7.66545 9.43143 8.40358 8.925 8.91L7.85 10L8.56 10.71L9.62 9.65C10.3801 8.88992 10.6769 7.78208 10.3987 6.74378C10.1205 5.70549 9.30951 4.89449 8.27122 4.61628C7.23293 4.33807 6.12509 4.63492 5.365 5.395L1.365 9.395C0.190018 10.57 0.190018 12.475 1.365 13.65C2.53999 14.825 4.44502 14.825 5.62 13.65L4.925 12.91C4.54967 13.2871 4.03955 13.4991 3.5075 13.4991C2.97546 13.4991 2.46534 13.2871 2.09 12.91Z" fill="#333333"/>
			<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="2" width="16" height="13">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M14.62 3.87999C14.0571 3.31512 13.2925 2.99762 12.495 2.99762C11.6975 2.99762 10.9329 3.31512 10.37 3.87999L11.08 4.58999C11.8629 3.80712 13.1321 3.80712 13.915 4.58999C14.6979 5.37285 14.6979 6.64212 13.915 7.42499L9.915 11.425C9.40858 11.9314 8.67045 12.1292 7.97866 11.9438C7.28687 11.7585 6.74653 11.2181 6.56116 10.5263C6.3758 9.83454 6.57358 9.09641 7.08 8.58999L7.79 7.87999L7.08 7.16999L6.37 7.87999C5.1964 9.05359 5.1964 10.9564 6.37 12.13C7.54361 13.3036 9.4464 13.3036 10.62 12.13L14.62 8.12999C15.1849 7.56708 15.5024 6.80244 15.5024 6.00499C15.5024 5.20753 15.1849 4.44289 14.62 3.87999ZM2.09 12.91C1.71292 12.5347 1.50092 12.0245 1.50092 11.4925C1.50092 10.9605 1.71292 10.4503 2.09 10.075L6.09 6.075C6.59643 5.56858 7.33456 5.3708 8.02634 5.55616C8.71813 5.74153 9.25848 6.28187 9.44384 6.97366C9.62921 7.66545 9.43143 8.40358 8.925 8.91L7.85 10L8.56 10.71L9.62 9.65C10.3801 8.88992 10.6769 7.78208 10.3987 6.74378C10.1205 5.70549 9.30951 4.89449 8.27122 4.61628C7.23293 4.33807 6.12509 4.63492 5.365 5.395L1.365 9.395C0.190018 10.57 0.190018 12.475 1.365 13.65C2.53999 14.825 4.44502 14.825 5.62 13.65L4.925 12.91C4.54967 13.2871 4.03955 13.4991 3.5075 13.4991C2.97546 13.4991 2.46534 13.2871 2.09 12.91Z" fill="white"/>
			</mask>
			<g mask="url(#mask0)">
			</g>
		</svg>
mixin arrRight
	span
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 3.75L11.6188 4.63125L16.3563 9.375L2.5 9.375V10.625L16.3563 10.625L11.6188 15.3688L12.5 16.25L18.75 10L12.5 3.75Z" fill="#333333"/>
			<mask mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="3" width="17" height="14">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 3.75L11.6188 4.63125L16.3563 9.375L2.5 9.375V10.625L16.3563 10.625L11.6188 15.3688L12.5 16.25L18.75 10L12.5 3.75Z" fill="white"/>
			</mask>
		</svg>
mixin arrLeft
	span
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 16.25L9.63125 15.3687L4.89375 10.625H18.75V9.375H4.89375L9.63125 4.63125L8.75 3.75L2.5 10L8.75 16.25Z" fill="#F3C54E"/>
			<mask mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="3" width="17" height="14">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 16.25L9.63125 15.3687L4.89375 10.625H18.75V9.375H4.89375L9.63125 4.63125L8.75 3.75L2.5 10L8.75 16.25Z" fill="white"/>
			</mask>

			</g>
		</svg>
mixin phone
	<svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#clip0)">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M2.65956 15.8331L5.88861 11.8282C6.07856 11.642 6.36347 11.5488 6.55342 11.7351L7.69308 12.6665C8.35789 11.642 9.02269 10.6175 9.6875 9.59295C10.3523 8.56844 10.9221 7.45079 11.397 6.42628L10.0674 5.86746C9.78247 5.77432 9.6875 5.49491 9.78247 5.2155L11.6819 0.4655C11.7769 0.186088 12.0618 0.092951 12.3467 0.186088L15.2909 1.30374C15.9557 1.58315 16.5255 2.04883 16.8104 2.70079C17.0953 3.35276 17.0953 4.00472 16.9054 4.65668C15.9557 7.07825 14.816 9.40668 13.4864 11.642C12.1568 13.8773 10.6372 16.0194 9.02269 17.9753C8.54783 18.5341 7.88303 18.8135 7.21822 18.9067C6.55342 18.9998 5.79364 18.8135 5.22381 18.3479L2.75454 16.392C2.56459 16.392 2.46962 16.0194 2.65956 15.8331ZM7.69308 2.88707C6.83834 3.16648 6.07856 3.63217 5.41375 4.19099C4.74895 4.74981 4.17912 5.40177 3.79923 6.14687C3.32437 6.98511 3.03945 7.82334 2.94448 8.66158C2.84951 9.59295 2.84951 10.4312 3.03945 11.2694C3.13442 11.5488 3.32437 11.642 3.60928 11.642C3.8942 11.5488 3.98917 11.3626 3.98917 11.0831C3.8942 10.338 3.79923 9.59295 3.8942 8.84785C3.98917 8.10276 4.27409 7.35766 4.65398 6.7057C5.03387 6.05374 5.50873 5.40177 6.07856 4.93609C6.64839 4.37726 7.3132 4.00472 7.978 3.7253C8.26292 3.63217 8.35789 3.35275 8.26292 3.07334C8.16794 2.88707 7.88303 2.79393 7.69308 2.88707ZM7.12325 -0.000186305C5.88861 0.372363 4.74895 1.02432 3.70426 1.86256C2.75454 2.70079 1.89979 3.63217 1.23498 4.84295C0.570179 6.05374 0.19029 7.26452 0.0953182 8.56844C-0.0946259 9.87236 0.0953182 11.1763 0.380234 12.3871C0.475207 12.6665 0.760123 12.7596 0.950067 12.7596C1.23498 12.6665 1.32996 12.3871 1.32996 12.2008C1.04504 11.0831 0.855095 9.87236 1.04504 8.66158C1.14001 7.54393 1.5199 6.42628 2.08973 5.30864C2.65956 4.28413 3.41934 3.35275 4.36906 2.60766C5.22381 1.86256 6.36347 1.30374 7.40817 0.931186C7.69308 0.838049 7.78806 0.558637 7.69308 0.372363C7.69308 0.0929509 7.40817 -0.0933236 7.12325 -0.000186305ZM6.36347 12.8528L3.70426 16.1126L5.79364 17.6959C6.17353 17.9753 6.64839 18.0684 7.02828 18.0684C7.50314 18.0684 7.88303 17.789 8.16794 17.5096C9.78247 15.5537 11.302 13.5047 12.5367 11.2694C13.8663 9.12727 14.911 6.79883 15.8607 4.4704C16.0506 4.00472 15.9557 3.63217 15.8607 3.16648C15.6707 2.79393 15.3858 2.42138 14.911 2.32825L12.4417 1.39687L10.9221 5.2155L12.3467 5.77432C12.6316 5.86746 12.7266 6.14687 12.6316 6.42628C12.0618 7.63707 11.397 8.94099 10.6372 10.1518C9.87744 11.3626 9.11767 12.5733 8.35789 13.691C8.16794 13.8773 7.88303 13.9704 7.69308 13.7841L6.36347 12.8528Z" fill="#808080"/>
		</g>
		<defs>
		<clipPath id="clip0">
		<rect width="17" height="19" fill="white"/>
		</clipPath>
		</defs>
		</svg>
mixin email
	<svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#emailSvg)">
		<path d="M21.0335 0H1.9665C0.8855 0 0 0.816667 0 1.81364V12.1917C0 13.1833 0.8855 14 1.9665 14H21.0392C22.1202 14 23.0057 13.1833 23.0057 12.1864V1.81364C23 0.816667 22.1145 0 21.0335 0ZM1.0925 1.81364C1.0925 1.36818 1.4835 1.00758 1.9665 1.00758H21.0392C21.5222 1.00758 21.9132 1.36818 21.9132 1.81364V2.67273L11.6955 9.77879C11.5805 9.85833 11.4252 9.85833 11.3102 9.77879L1.0925 2.625V1.81364ZM1.0925 3.89242L6.3595 7.57803L1.0925 11.2689V3.89242ZM21.0335 12.9924H1.9665C1.5985 12.9924 1.288 12.7856 1.15575 12.4886L7.26225 8.20909L10.649 10.5742C10.902 10.7492 11.201 10.8394 11.5 10.8394C11.799 10.8394 12.098 10.7545 12.351 10.5795L15.6975 8.25152L21.804 12.5682C21.6602 12.8174 21.367 12.9924 21.0335 12.9924ZM21.9075 11.3697L16.606 7.62045L21.9075 3.92955V11.3697Z" fill="#808080"/>
		</g>
		<defs>
		<clipPath id="emailSvg">
		<rect width="23" height="14" fill="white"/>
		</clipPath>
		</defs>
		</svg>

