mixin btn(tag, text, link, addClass, madalName)
	if tag == 'a'		
		if addClass
			a(href=" "+ link ).button.button-light #{text}
		else
			a(href=" "+ link ).button #{text}
	else
		if addClass
			#{tag}.button.button-light(data-target="modal" data-role=" "+ madalName) #{text}
		else
			#{tag}.button(data-target="modal" data-role=" "+ madalName) #{text}

//- header top
mixin headerTop
	.header-top
		.container
			.header-top__content
				a(href="index.html").logo
					img(src="img/logo.png", alt="logo")
					.logo-text
						p Андреев & Панфилов
						p Услуги опытных юристов
				nav.nav-menu
					a(href="#").nav-menu__item Услуги адвоката
					a(href="#").nav-menu__item Схема работы
					a(href="#").nav-menu__item Результаты дел
					a(href="#").nav-menu__item Наша команда 
					a(href="#").nav-menu__item Цены
					a(href="#").nav-menu__item Контакты
					+btn('button', 'Запрос адвокату', '', 'light')
					+socialIcons
				.header-button
					+btn('button', 'Запрос адвокату', '', 'light')
				.menu-toggle
					span
//- icon-social
mixin socialIcons
	.icon-block
		a(href="#!")
			i.fab.fa-telegram-plane
		a(href="#!")
			i.fab.fa-facebook-f
		a(href="#!")
			i.fab.fa-whatsapp
		a(href="#!")
			i.fab.fa-instagram
		a(href="#!")
			i.fab.fa-vk