mixin btn(tag, text, link, addClass, madalName)
	if tag == 'a'		
		if addClass
			a(href=" "+ link ).button.button-light #{text}
		else
			a(href=" "+ link ).button #{text}
	else
		if addClass
			#{tag}.button.button-light(data-target="modal" data-role=" "+ madalName) #{text}
		else
			#{tag}.button(data-target="modal" data-role=" "+ madalName) #{text}

//- header top
mixin headerTop
	.header-top
		.container
			.header-top__content
				a(href="index.html").logo
					img(src="img/logo.png", alt="logo")
					.logo-text
						p Андреев & Панфилов
						p Услуги опытных юристов
				nav.nav-menu
					a(href="#").nav-menu__item Услуги адвоката
					a(href="#").nav-menu__item Схема работы
					a(href="#").nav-menu__item Результаты дел
					a(href="#").nav-menu__item Наша команда 
					a(href="#").nav-menu__item Цены
					a(href="#").nav-menu__item Контакты
					+btn('button', 'Запрос адвокату', '', 'light')
					+socialIcons
				.header-button
					+btn('button', 'Запрос адвокату', '', 'light')
				.menu-toggle
					span
//- icon-social
mixin socialIcons
	.icon-block
		a(href="#!")
			i.fab.fa-telegram-plane
		a(href="#!")
			i.fab.fa-facebook-f
		a(href="#!")
			i.fab.fa-whatsapp
		a(href="#!")
			i.fab.fa-instagram
		a(href="#!")
			i.fab.fa-vk

mixin schemeCard(num, title, text)
	.scheme-card
		p.scheme-card-num #{num}.
		p.scheme-card-title #{title}
		p.scheme-card-text !{text}


//- SVG ICONS
mixin linkIcon
	span
		<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M14.62 3.87999C14.0571 3.31512 13.2925 2.99762 12.495 2.99762C11.6975 2.99762 10.9329 3.31512 10.37 3.87999L11.08 4.58999C11.8629 3.80712 13.1321 3.80712 13.915 4.58999C14.6979 5.37285 14.6979 6.64212 13.915 7.42499L9.915 11.425C9.40858 11.9314 8.67045 12.1292 7.97866 11.9438C7.28687 11.7585 6.74653 11.2181 6.56116 10.5263C6.3758 9.83454 6.57358 9.09641 7.08 8.58999L7.79 7.87999L7.08 7.16999L6.37 7.87999C5.1964 9.05359 5.1964 10.9564 6.37 12.13C7.54361 13.3036 9.4464 13.3036 10.62 12.13L14.62 8.12999C15.1849 7.56708 15.5024 6.80244 15.5024 6.00499C15.5024 5.20753 15.1849 4.44289 14.62 3.87999ZM2.09 12.91C1.71292 12.5347 1.50092 12.0245 1.50092 11.4925C1.50092 10.9605 1.71292 10.4503 2.09 10.075L6.09 6.075C6.59643 5.56858 7.33456 5.3708 8.02634 5.55616C8.71813 5.74153 9.25848 6.28187 9.44384 6.97366C9.62921 7.66545 9.43143 8.40358 8.925 8.91L7.85 10L8.56 10.71L9.62 9.65C10.3801 8.88992 10.6769 7.78208 10.3987 6.74378C10.1205 5.70549 9.30951 4.89449 8.27122 4.61628C7.23293 4.33807 6.12509 4.63492 5.365 5.395L1.365 9.395C0.190018 10.57 0.190018 12.475 1.365 13.65C2.53999 14.825 4.44502 14.825 5.62 13.65L4.925 12.91C4.54967 13.2871 4.03955 13.4991 3.5075 13.4991C2.97546 13.4991 2.46534 13.2871 2.09 12.91Z" fill="#333333"/>
			<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="2" width="16" height="13">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M14.62 3.87999C14.0571 3.31512 13.2925 2.99762 12.495 2.99762C11.6975 2.99762 10.9329 3.31512 10.37 3.87999L11.08 4.58999C11.8629 3.80712 13.1321 3.80712 13.915 4.58999C14.6979 5.37285 14.6979 6.64212 13.915 7.42499L9.915 11.425C9.40858 11.9314 8.67045 12.1292 7.97866 11.9438C7.28687 11.7585 6.74653 11.2181 6.56116 10.5263C6.3758 9.83454 6.57358 9.09641 7.08 8.58999L7.79 7.87999L7.08 7.16999L6.37 7.87999C5.1964 9.05359 5.1964 10.9564 6.37 12.13C7.54361 13.3036 9.4464 13.3036 10.62 12.13L14.62 8.12999C15.1849 7.56708 15.5024 6.80244 15.5024 6.00499C15.5024 5.20753 15.1849 4.44289 14.62 3.87999ZM2.09 12.91C1.71292 12.5347 1.50092 12.0245 1.50092 11.4925C1.50092 10.9605 1.71292 10.4503 2.09 10.075L6.09 6.075C6.59643 5.56858 7.33456 5.3708 8.02634 5.55616C8.71813 5.74153 9.25848 6.28187 9.44384 6.97366C9.62921 7.66545 9.43143 8.40358 8.925 8.91L7.85 10L8.56 10.71L9.62 9.65C10.3801 8.88992 10.6769 7.78208 10.3987 6.74378C10.1205 5.70549 9.30951 4.89449 8.27122 4.61628C7.23293 4.33807 6.12509 4.63492 5.365 5.395L1.365 9.395C0.190018 10.57 0.190018 12.475 1.365 13.65C2.53999 14.825 4.44502 14.825 5.62 13.65L4.925 12.91C4.54967 13.2871 4.03955 13.4991 3.5075 13.4991C2.97546 13.4991 2.46534 13.2871 2.09 12.91Z" fill="white"/>
			</mask>
			<g mask="url(#mask0)">
			</g>
		</svg>
mixin arrRight
	span
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 3.75L11.6188 4.63125L16.3563 9.375L2.5 9.375V10.625L16.3563 10.625L11.6188 15.3688L12.5 16.25L18.75 10L12.5 3.75Z" fill="#333333"/>
			<mask mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="3" width="17" height="14">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 3.75L11.6188 4.63125L16.3563 9.375L2.5 9.375V10.625L16.3563 10.625L11.6188 15.3688L12.5 16.25L18.75 10L12.5 3.75Z" fill="white"/>
			</mask>
		</svg>
mixin arrLeft
	span
		<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 16.25L9.63125 15.3687L4.89375 10.625H18.75V9.375H4.89375L9.63125 4.63125L8.75 3.75L2.5 10L8.75 16.25Z" fill="#F3C54E"/>
			<mask mask-type="alpha" maskUnits="userSpaceOnUse" x="2" y="3" width="17" height="14">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M8.75 16.25L9.63125 15.3687L4.89375 10.625H18.75V9.375H4.89375L9.63125 4.63125L8.75 3.75L2.5 10L8.75 16.25Z" fill="white"/>
			</mask>

			</g>
		</svg>